.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 25px; 
}
.itemCard {
 
  flex-basis: calc(33.33% - 20px); /* Adjust the percentage value as needed */
  flex-grow: 1;
  margin: 10px; /* Add some margin between items */
  width: 33.33%;
  text-align: center;
  
}
.card-image {
  height: 200px;
  width: fit-content !important;
  margin: auto;
  margin-top: 26px;
}
.item-price {
  font-size: 18px !important;
  font-weight: 700 !important;
}
.brand-title {
  font-size: 30px !important;
  font-weight: 700 !important;
  color: #b13434 !important;
  text-decoration: none !important;
}
.card-body {
  text-align: center;
  background: #8080801a !important;
  width: 100%;
  margin-top: 10px;
}
.martial-spirit-navbar{
  background-color: #8080801a !important;
  height: 80px;
}
.product-categories-select {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
