.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 25px; 
}
.itemCard {
 
  flex-basis: calc(33.33% - 20px); /* Adjust the percentage value as needed */
  flex-grow: 1;
  margin: 10px; /* Add some margin between items */
  width: 33.33%;
  text-align: center;
  
}
.card-image {
  height: 200px;
  width: fit-content !important;
  margin: auto;
  margin-top: 26px;
}
.item-price {
  font-size: 18px !important;
  font-weight: 700 !important;
}
.brand-title {
  font-size: 30px !important;
  font-weight: 700 !important;
  color: #b13434 !important;
  text-decoration: none !important;
}
.card-body {
  text-align: center;
  background: #8080801a !important;
  width: 100%;
  margin-top: 10px;
}
.martial-spirit-navbar{
  background-color: #8080801a !important;
  height: 80px;
}
.product-categories-select {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
.waveform {
  --uib-size: 40px;
  --uib-speed: 1s;
  --uib-color: black;
  --uib-line-weight: 3.5px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.waveform__bar {
  width: var(--uib-line-weight);
  height: 100%;
  background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.45) infinite;
}

.waveform__bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.3) infinite;
}

.waveform__bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.15) infinite;
}

.waveform__bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}
body {
  text-align: center !important;
}
