.ItemCount-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
}
.ItemCount-button {
    padding: 5px;
    background-color: #93bdfc;
    border: 1px solid #93bdfc;
    min-width: 40px;
    font-weight: 700;
    font-size: 16px;
    color: white;
}
.ItemCount-button:hover {
   
    background-color: #7aa7eb;
    border: 1px solid #93bdfc;

}
.selected-number {
    min-width: 40px;
    border-top: 1px solid #93bdfc; 
    border-bottom:1px solid #93bdfc; ;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.substract-button {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

}
.add-button {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    
}
.btn {
    padding: 5px 15px;
    color: white !important;
    font-weight: 700 !important;
    max-width: 160px;
    background-color: rgb(70, 140, 233) !important;
    border-radius:  4px; 
    border: none;
    margin: 5px 15px;
    cursor: pointer;
  }
  
  .btn:hover{
    box-shadow: 0px 4px 5px #2c2c2c96;
    background-color: rgb(25, 123, 252) !important;
  }